body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
    cursor: pointer;
}
body::-webkit-scrollbar {
    display: none;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.mb-1 {
    margin-bottom: 0.5rem;
}
.text-center {
    text-align: center;
}
