body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
    cursor: pointer;
    background-color: rgb(250, 226, 198);
}

body::-webkit-scrollbar {
    display: none;
}
input:-webkit-autofill {
    background-color: unset !important;
    color: unset !important;
    background: unset !important;
}
button {
    box-shadow: none;
    background: none;
    border: none;
    cursor: pointer;
}

.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.mb-1 {
    margin-bottom: 0.5rem;
}
.text-center {
    text-align: center;
}
